*~
._*
source/.asetup.save
# for macs
.DS_Store

#TRExFitter dir
TRExFitter

#plots
plots/plots_*
plots/*

#configs
configs/*
!template_*
!configs/ttRes1L2L

#batch files
batch_files

#output files
run/*

#python compiled bytecode files (.pyc files) 
*.pyc

