*~
._*
source/.asetup.save
.asetup.save
# for macs
.DS_Store

#plots
plots/plots_*
plots/*

#configs
configs/ttres1l2l/archive/*
configs/archive

#batch files
batch_files

#output files
run/*
!run/pull_constrained
*.ans
*.root
histograms/*

#python compiled bytecode files (.pyc files) 
*.pyc

scripts/make_plots.sh
scripts/tmp*.sh

settings.json
scripts/run_grav_statonly_siginj.sh
scripts/run_syst_siginj.sh
scripts/run_statonly_siginj.sh
scripts/make_signij_configs.sh
scripts/move_limits.py
scripts/run_statonly_siginj.sh
scripts/run_2l_zprime_excluded.sh
scripts/run_statonly_siginj.sh
scripts/exploration.ipynb
scripts/cp_configs.sh
scripts/make_siginj_configs.sh
*.png
data
