% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "ttRes2L_v12_fit_inverted_deltaEta_2dRew_slim_SysAll_Latest"
  InputFolder: /afs/cern.ch/user/m/mfaraj/public/Histograms_ttbar2L_FullRun2_Asimov/
  CmeLabel: "13 TeV"
  POI: "mu_Zprime"
  ReadFrom: NTUP
  NtuplePaths: "/gpfs/atlas/public/ttRes_ntuples_V24/MinNtuples-V24/"
  Label: "Dilepton"
  LumiLabel: "139 fb#kern[-0.5]{^{-1}}"
  MCweight: "weight"
  Lumi: 139000 % 36100 + 44300 + 58600
  Selection: "(Mllbb/1e3<450 && DeltaEta<1) || (Mllbb/1e3>=450 && Mllbb/1e3<1000 && DeltaEta<1.5) || (Mllbb/1e3>=1000 && Mllbb/1e3<1500 && DeltaEta<2) || (Mllbb/1e3>=1500 && Mllbb/1e3<2500 && DeltaEta<2.5) || Mllbb/1e3>=2500" % adding deltaEta selection here ==> affecting mllbb and deltaPhi
%   PlotOptions: "NOSIG,NORMSIG,POISSONIZE,NOXERR,OPRATIO"
  PlotOptions: "POISSONIZE,NOXERR,OPRATIO"
%   PlotOptions: "NORMSIG,POISSONIZE,NOXERR,OPRATIO"
  NtupleName: "nominal"
  DebugLevel: 1
  MCstatThreshold: 0.0001
  SystControlPlots: TRUE
  SystPruningShape: 0.00001
  SystPruningNorm: 0.00001
%  SystPruningShape: 0.005
%  SystPruningNorm: 0.005
  SystLarge: 0.90
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png","pdf"
  UseGammaPulls: TRUE
  AtlasLabel: "#kern[-0.1]{Internal}"
%   LegendNColumns: 1
%   LegendX1: 0.6
  LegendNColumns: 2
  LegendX1: 0.5
  CustomIncludePaths: "../NNLOttbar/TTbarNNLOReweighter/"
  CustomFunctions: "../NNLOttbar/TTbarNNLOReweighter/macros/RecursiveReweighting_2d_2022.C"
%   SmoothingOption: TTBARRESONANCE
  SmoothingOption: COMMONTOOLSMOOTHPARABOLIC
  DoSummaryPlot: FALSE
  RankingMaxNP: 20
  RankingPlot: Systs
%   GetChi2: STAT+SYST
%   RatioType: SOVERSQRT(B)
%   RatioYmax:      6
  RatioYmin:      0
  RatioType: SOVERB
  RatioYmax:      0.5
%   RatioYmax:      0.001
%   MaxNtupleEvents: 1
  AllowWrongRegionSample: TRUE
  ReorderNPs: TRUE
  Suffix: "_statonly"
  
Options: "myOptions"
%   SystPlotRatioRange: 50
  SystPlotRatioRange: 20
 

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
%  FitType: BONLY
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 0
  SetRandomInitialNPval: 0.001
%   GetGoodnessOfFit: TRUE
  SaturatedModel: TRUE
%  doLHscan: mu_Zprime
%  UseMinos: 	"mu_Zprime"
  %LHscanSteps: 50
%  LHscanSteps: 20
%  LHscanMin: 0.
%  LHscanMax: 2.0      

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
%  LimitBlind: FALSE
%   SignalInjection: TRUE
  ParamName: "ZprimeMass"

% --------------- %
% --- REGIONS --- %
% --------------- %

Region:           "mllbb"
# Type:            VALIDATION
   Type:           SIGNAL
  Variable:       "Mllbb/1e3",8,0,3500 %% Opt1 Setup
  Binning:        150,300,450,600,750,1000,1250,1500,2000,2500,3500
  VariableTitle:  "#it{m_{llbb}} [GeV]"
  Label:          "Inclusive"
  NtuplePathSuffs:"ee_ttbar_dilep","emu_ttbar_dilep","mumu_ttbar_dilep"
  Ymin:           1
  YmaxScale:      3
  LogScale:       TRUE
  Ymax:           1e9
  
Region:           "DeltaPhi"
% Type:            VALIDATION
  Type:           SIGNAL
  Variable:       "DeltaPhi/TMath::Pi()",20,0,1
  Binning:        0,0.5,0.8,0.9,0.95,1 
  %BinWidth:       0.05
  VariableTitle:  "#Delta#it{#phi_{ll}/#pi}"
  Label:          "Inclusive"
  NtuplePathSuffs:"ee_ttbar_dilep","emu_ttbar_dilep","mumu_ttbar_dilep"
%   RatioYmax:      1.1
%   RatioYmin:      0.9

Region:           "mllbb_DeltaPhi000to050"                     ;"mllbb_DeltaPhi050to080"                     ;"mllbb_DeltaPhi080to090"                     ;"mllbb_DeltaPhi090to095"                         ;"mllbb_DeltaPhi095to100"
  Selection:      "(DeltaPhi/TMath::Pi())>0 && (DeltaPhi/TMath::Pi())<=0.5";"(DeltaPhi/TMath::Pi())>0.5 && (DeltaPhi/TMath::Pi())<=0.8";"(DeltaPhi/TMath::Pi())>0.8 && (DeltaPhi/TMath::Pi())<=0.9";"(DeltaPhi/TMath::Pi())>0.9 && (DeltaPhi/TMath::Pi())<=0.95"    ;"(DeltaPhi/TMath::Pi())>0.95 && (DeltaPhi/TMath::Pi())<=1"
  Variable:       "Mllbb/1e3",15,0,3500
  Binning:        150,300,450,600,750,1000,1250,3500         ;150,300,450,600,750,1000,1250,1500,3500      ;150,300,450,600,750,1000,1250,1500,2000,3500 ;150,300,450,600,750,1000,1250,1500,2000,2500,3500 ;150,300,450,600,750,1000,1250,1500,2000,2500,3500
  Label:          "0. < #it{#Delta#phi_{ll}/#pi} < 0.5"      ;"0.5 < #it{#Delta#phi_{ll}/#pi} < 0.8"       ;"0.8 < #it{#Delta#phi_{ll}/#pi} < 0.9"       ; "0.9 < #it{#Delta#phi_{ll}/#pi} < 0.95"          ; "0.95 < #it{#Delta#phi_{ll}/#pi} < 1.0"
  Type:           SIGNAL
  VariableTitle:  "#it{m_{llbb}} [GeV]"
  NtuplePathSuffs:"mumu_ttbar_dilep","emu_ttbar_dilep","ee_ttbar_dilep"
  IsBinOfRegion:  "DeltaPhi":1;"DeltaPhi":2;"DeltaPhi":3;"DeltaPhi":4;"DeltaPhi":5
  LogScale:       TRUE
  Ymax:           1e9
  
% --------------- %
% --- SAMPLES --- %
% --------------- %

% GHOST

Sample:           "ttbar_dilep_ghost_nonRew"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mca","ttbar_dil_mcd","ttbar_dil_mce"

% Sample:           "ttbar_dilep_PH7_old"
%   Type:           GHOST
%   NtupleFiles:    "ttbar_dil_PH7old_mca","ttbar_dil_PH7old_mcd","ttbar_dil_PH7old_mce"
%   MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,3)"

Sample:           "ttbar_dilep_PH7_nonRew"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_PH7_mca","ttbar_dil_PH7_mcd","ttbar_dil_PH7_mce"

Sample:           "ttbar_dilep_PH7"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_PH7_mca","ttbar_dil_PH7_mcd","ttbar_dil_PH7_mce"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,1,0)"

Sample:           "ttbar_dilep_aMCP8"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_aMCP8_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,4,0)"

Sample:           "ttbar_dilep_MECoff"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_MECoff_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,-1,0)"

Sample:           "ttbar_dilep_aMCH7"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_aMCH7_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,2,0)"

Sample:           "ttbar_dilep_hdamp"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_hdamp_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,5,0)"

Sample:           "ttbar_dilep_FSRup";"ttbar_dilep_FSRdown"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mca","ttbar_dil_mcd","ttbar_dil_mce"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)*weight_FSRup";"RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)*weight_FSRdown"


Sample:           "ttbar_dilep_noEW"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0,100)"

Sample:           "ttbar_dilep_inv"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0,1000)"

Sample:           "ttbar_dilep_altPDF"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0,200)"

Sample:           "ttbar_dilep_oneEmission_topPt"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)*( TopPt > 0 ? 9.78044e-01 + sqrt( 4.35553e-06 * TopPt/1e3 ) : 1. )"

Sample:           "ttbar_dilep_oneEmission_mtt"
  Type:           GHOST
  NtupleFiles:    "ttbar_dil_mc*"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)*( ttMass==ttMass ? 9.62236e-01 + sqrt( 2.78789e-06 * ttMass/1e3 ) : 1. )"
  
    
Sample:           "singleTop_PH7"
  Type:           GHOST
  NtupleFiles:    "sintop_wt_dilep_PH7_mc*"

Sample:           "singleTop_aMCP8"
  Type:           GHOST
  NtupleFiles:    "sintop_wt_dilep_aMCP8_mc*"

Sample:           "singleTop_DS"
  Type:           GHOST
  NtupleFiles:    "sintop_wt_dilep_DS_mc*"

Sample:           "zjets_pTll_up"; "zjets_pTll_down"
  Type:           GHOST
  NtupleFiles:    "zjets_mc*"
  MCweight:       "(1.*(!isHF) + 1.17*(1-0.0006*(PTll/1e3))*(isHF))";"(1.*(!isHF) + 1.17*(1-0.0002*(PTll/1e3))*(isHF))"
  
Sample:           "zjets_LF_up"; "zjets_HF_up"
  Type:           GHOST
  NtupleFiles:    "zjets_mc*"
  MCweight:       "(1.3*(!isHF) + 1.17*(1-0.0004*(PTll/1e3))*(isHF))";"(1.*(!isHF) + 1.3*(1-0.0004*(PTll/1e3))*(isHF))"

% SIGNALS

Sample:           "ZprimeTC2_400"     ;"ZprimeTC2_500"     ;"ZprimeTC2_750"      ;"ZprimeTC2_1000"    ;"ZprimeTC2_1250"     ;"ZprimeTC2_1500"    ;"ZprimeTC2_1750"     ;"ZprimeTC2_2000"   ;"ZprimeTC2_2500"     ;"ZprimeTC2_3000"    ;"ZprimeTC2_3500"    ;"ZprimeTC2_4000"    ;"ZprimeTC2_4500"    ;"ZprimeTC2_5000"    ;"ZprimeTC2_6000"
  Title:          "Z'_{TC2} (400 GeV)";"Z'_{TC2} (500 GeV)";"Z'_{TC2} (750 GeV)" ;"Z'_{TC2} (1 TeV)"  ;"Z'_{TC2} (1.25 TeV)";"Z'_{TC2} (1.5 TeV)";"Z'_{TC2} (1.75 TeV)";"Z'_{TC2} (2 TeV)" ;"Z'_{TC2} (2.5 TeV)" ;"Z'_{TC2} (3 TeV)"  ;"Z'_{TC2} (3.5 TeV)";"Z'_{TC2} (4 TeV)"  ;"Z'_{TC2} (4.5 TeV)";"Z'_{TC2} (5 TeV)"  ;"Z'_{TC2} (6 TeV)"
  TexTitle:       "$Z'$ (400 GeV)"    ;"$Z'$ (500 GeV)"    ;"$Z'$ (750 GeV)"     ;"$Z'$ (1 TeV)"      ;"$Z'$ (1.25 TeV)"    ;"$Z'$ (1.5 TeV)"    ;"$Z'$ (1.75 TeV)"    ;"$Z'$ (2 TeV)"     ;"$Z'$ (2.5 TeV)"     ;"$Z'$ (3 TeV)"      ;"$Z'$ (3.5 TeV)"    ;"$Z'$ (4 TeV)"      ;"$Z'$ (4.5 TeV)"    ;"$Z'$ (5 TeV)"      ;"$Z'$ (6 TeV)"
  NtupleFiles:    "zprimeTC2_400_mc*" ;"zprimeTC2_500_mc*" ;"zprimeTC2_750_mc*"  ;"zprimeTC2_1000_mc*";"zprimeTC2_1250_mc*" ;"zprimeTC2_1500_mc*";"zprimeTC2_1750_mc*" ;"zprimeTC2_2000_mc*";"zprimeTC2_2500_mc*";"zprimeTC2_3000_mc*";"zprimeTC2_3500_mc*";"zprimeTC2_4000_mc*";"zprimeTC2_4500_mc*";"zprimeTC2_5000_mc*";"zprimeTC2_6000_mc*" 
  FillColor:      2
  LineColor:      2
  Type:           SIGNAL

Sample:           "ZprimePY_400"      ;"ZprimePY_500"      ;"ZprimePY_750"      ;"ZprimePY_1000"    ;"ZprimePY_1250"      ;"ZprimePY_1500"     ;"ZprimePY_1750"      ;"ZprimePY_2000"    ;"ZprimePY_2500"      ;"ZprimePY_3000"     ;"ZprimePY_3500"     ;"ZprimePY_4000"     ;"ZprimePY_4500"     ;"ZprimePY_5000"    
  Title:          "Z'_{PY} (400 GeV)" ;"Z'_{PY} (500 GeV)" ;"Z'_{PY} (750 GeV)" ;"Z'_{PY} (1 TeV)"  ;"Z'_{PY} (1.25 TeV)" ;"Z'_{PY} (1.5 TeV)" ;"Z'_{PY} (1.75 TeV)" ;"Z'_{PY} (2 TeV)"  ;"Z'_{PY} (2.5 TeV)"  ;"Z'_{PY} (3 TeV)"   ;"Z'_{PY} (3.5 TeV)" ;"Z'_{PY} (4 TeV)"   ;"Z'_{PY} (4.5 TeV)" ;"Z'_{PY} (5 TeV)"  
  TexTitle:       "$Z'$ (400 GeV)"    ;"$Z'$ (500 GeV)"    ;"$Z'$ (750 GeV)"    ;"$Z'$ (1 TeV)"     ;"$Z'$ (1.25 TeV)"    ;"$Z'$ (1.5 TeV)"    ;"$Z'$ (1.75 TeV)"    ;"$Z'$ (2 TeV)"     ;"$Z'$ (2.5 TeV)"     ;"$Z'$ (3 TeV)"      ;"$Z'$ (3.5 TeV)"    ;"$Z'$ (4 TeV)"      ;"$Z'$ (4.5 TeV)"    ;"$Z'$ (5 TeV)"      
  NtupleFiles:    "zprime400_mc*"     ;"zprime500_mc*"     ;"zprime750_mc*"     ;"zprime1000_mc*"   ;"zprime1250_mc*"     ;"zprime1500_mc*"    ;"zprime1750_mc*"     ;"zprime2000_mc*"   ;"zprime2500_mc*"     ;"zprime3000_mc*"    ;"zprime3500_mc*"    ;"zprime4000_mc*"    ;"zprime4500_mc*"    ;"zprime5000_mc*" 
  FillColor:      5
  LineColor:      5
  Type:           SIGNAL    

Sample:           "KKgMG500"            ;"KKgMG1000"         ;"KKgMG1500"           ;"KKgMG2000"         ;"KKgMG2500"           ;"KKgMG3000"         ;"KKgMG3500"           ;"KKgMG4000"         ;"KKgMG4500"           ;"KKgMG5000"
  Title:          "g_{KK} (0.5 TeV)"  ;"g_{KK} (1 TeV)"  ;"g_{KK} (1.5 TeV)"  ;"g_{KK} (2 TeV)"  ;"g_{KK} (2.5 TeV)"  ;"g_{KK} (3 TeV)"  ;"g_{KK} (3.5 TeV)"  ;"g_{KK} (4 TeV)"  ;"g_{KK} (4.5 TeV)"  ;"g_{KK} (5 TeV)"
  TexTitle:       "$g_{KK}$ (0.5 TeV)";"$g_{KK}$ (1 TeV)";"$g_{KK}$ (1.5 TeV)";"$g_{KK}$ (2 TeV)";"$g_{KK}$ (2.5 TeV)";"$g_{KK}$ (3 TeV)";"$g_{KK}$ (3.5 TeV)";"$g_{KK}$ (4 TeV)";"$g_{KK}$ (4.5 TeV)";"$g_{KK}$ (5 TeV)"
  NtupleFiles:    "kkg500MG_mc*"        ;"kkg1000MG_mc*"     ;"kkg1500MG_mc*"       ;"kkg2000MG_mc*"     ;"kkg2500MG_mc*"       ;"kkg3000MG_mc*"     ;"kkg3500MG_mc*"       ;"kkg4000MG_mc*"     ;"kkg4500MG_mc*"       ;"kkg5000MG_mc*"
  FillColor:      3
  LineColor:      3
  Type:           SIGNAL  

Sample:           "KKgPY500"            ;"KKgPY1000"         ;"KKgPY1500"           ;"KKgPY2000"         ;"KKgPY2500"           ;"KKgPY3000"         ;"KKgPY3500"           ;"KKgPY4000"         ;"KKgPY4500"           ;"KKgPY5000"
  Title:          "g_{KK} (0.5 TeV)"    ;"g_{KK} (1 TeV)"    ;"g_{KK} (1.5 TeV)"    ;"g_{KK} (2 TeV)"    ;"g_{KK} (2.5 TeV)"    ;"g_{KK} (3 TeV)"    ;"g_{KK} (3.5 TeV)"    ;"g_{KK} (4 TeV)"    ;"g_{KK} (4.5 TeV)"    ;"g_{KK} (5 TeV)"
  TexTitle:       "$g_{KK}$ (0.5 TeV)"  ;"$g_{KK}$ (1 TeV)"  ;"$g_{KK}$ (1.5 TeV)"  ;"$g_{KK}$ (2 TeV)"  ;"$g_{KK}$ (2.5 TeV)"  ;"$g_{KK}$ (3 TeV)"  ;"$g_{KK}$ (3.5 TeV)"  ;"$g_{KK}$ (4 TeV)"  ;"$g_{KK}$ (4.5 TeV)"  ;"$g_{KK}$ (5 TeV)"
  NtupleFiles:    "kkg500_mc*"          ;"kkg1000_mc*"       ;"kkg1500_mc*"         ;"kkg2000_mc*"       ;"kkg2500_mc*"         ;"kkg3000_mc*"       ;"kkg3500_mc*"         ;"kkg4000_mc*"       ;"kkg4500_mc*"         ;"kkg5000_mc*"
  FillColor:      6
  LineColor:      6
  Type:           SIGNAL    

Sample:           "Grav400"      ;"Grav500"      ;"Grav750"       ;"Grav1000"    ;"Grav2000"    ;"Grav3000"
  Title:          "G_{KK} (0.4 TeV)"  ;"G_{KK} (0.5 TeV)"  ;"G_{KK} (0.75 TeV)"  ;"G_{KK} (1 TeV)"   ;"G_{KK} (2 TeV)"   ;"G_{KK} (3 TeV)"
  TexTitle:       "$G_{KK}$ (0.4 TeV)";"$G_{KK}$ (0.5 TeV)";"$G_{KK}$ (0.75 TeV)";"$G_{KK}$ (1 TeV)" ;"$G_{KK}$ (2 TeV)" ;"$G_{KK}$ (3 TeV)"
  NtupleFiles:    "grav400_mc*"  ;"grav500_mc*"  ;"grav750_mc*"   ;"grav1000_mc*";"grav2000_mc*";"grav3000_mc*"
  FillColor:      4
  LineColor:      4
  Type:           SIGNAL

% BACKGROUNDS
  
Sample:           "ttbar_dilep"
  Type:           BACKGROUND
  Title:          "#it{t#bar{t}} dilep."
  TexTitle:       "$t\bar{t}$ dilep."
  FillColor:      0
  LineColor:      1
  NtupleFiles:    "ttbar_dil_mca","ttbar_dil_mcd","ttbar_dil_mce"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)"
  Selection:      "isRealDilep"
  SeparateGammas: TRUE

Sample:           "singleTop"
  Type:           BACKGROUND
  Title:          "Single top"
  FillColor:      62
  LineColor:      1
  NtupleFiles:    "sintop_wt_dilep_mc*"
  Selection:      "isRealDilep"

Sample:           "zjets"
  Type:           BACKGROUND
  Title:          "Z+jets"
  FillColor:      95
  LineColor:      1
  NtupleFiles:    "zjets_mc*"
  MCweight:       "(1.*(!isHF) + 1.17*(1.-0.0004*(PTll/1e3))*(isHF))"
  
Sample:           "diboson"
  Type:           BACKGROUND
  Title:          "Diboson"
  FillColor:      5
  LineColor:      1
  NtupleFiles:    "diboson_mc*"

Sample:           "ttV"
  Type:           BACKGROUND
  Title:          "#it{t#bar{t}+V}"
  FillColor:      3
  LineColor:      1
  NtupleFiles:    "ttV_mc*"

Sample:           "ttH"
  Type:           BACKGROUND
  Title:          "#it{t#bar{t}+H}"
  FillColor:      223
  LineColor:      1
  NtupleFiles:    "ttH_mc*"

Sample:           "fakes"
  Type:           BACKGROUND
  Title:          "Fakes"
  FillColor:      619
  LineColor:      1
  NtupleFiles:    "wjets_mc*","sintop_mc*"
  Selection:      "!isRealDilep"

Sample:           "fakes_ttbar"
  Type:           BACKGROUND
  Title:          "Fakes"
  FillColor:      619
  LineColor:      1
  NtupleFiles:    "ttbar_nah_mc*"
  Selection:      "!isRealDilep"
  MCweight:       "RecursiveReweighting_2d_2022(TopPt/1e3,AntiTopPt/1e3,ttMass/1e3,0)"
  
%% Dummy Data for combination
%Sample:           "Data"
%  Type:           DATA
%  Title:          "Data"
%  NtupleFiles:    "ttH_mc*","ttV_mc*"  
%  IgnoreWeight:   "weight"

% DATA
  
Sample:           "Data"
  Type:           DATA
  Title:          "Data"
  NtupleFiles:    "data15","data16","data17","data18"
  IgnoreWeight:   "weight"
  
% --------------- %
% - NORMFACTORS - %
% --------------- %
  
NormFactor:       "mu_Zprime"
  Title:          "#mu(Z')"
  Nominal:        0
  Min:            -200
%   Max:            200
%   Max:            500
%   Max:            1000
  Max:            10000
%   Min:            -10000000
%   Max:            10000000
  Samples:        "Zprime*","KKg*","Grav*"

NormFactor:       "k_tt"
  Title:          "k(#it{t#bar{t}})"
  Nominal:        1
  Min:            0
  Max:            2
  Samples:        "ttbar_dilep","fakes_ttbar"
  
% NormFactor:       "const_scale_4000" ;"const_scale_4500" ;"const_scale_5000" ;"const_scale_6000"
%   Nominal:        100000               ;2000               ;4000               ;10000
%   Min:            99999                ;1999               ;3999               ;9999
%   Max:            100001               ;2001               ;4001               ;10001
%   Samples:        "ZprimeTC2_4000"   ;"ZprimeTC2_4500"   ;"ZprimeTC2_5000"   ;"ZprimeTC2_6000"
%   Constant:       TRUE
  
% --------------- %
% - SYSTEMATICS - %
% --------------- %
  
% --- Instrumental

% -- Luminosity and Pileup

Systematic:           "Lumi"
  Title:              "Luminosity"
  Type:               OVERALL
  OverallUp:          0.021
  OverallDown:        -0.021
  SubCategory:        "Luminosity"
  Category:           "Instrumental"

%Systematic:           "pileup"
%  Title:              "Pileup reweighting"
%  WeightSufUp:        "weight_pileup_up"
%  WeightSufDown:      "weight_pileup_down"
%  Type:               HISTO
%  %Samples:            "ttbar_dilep","zjets"
%  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
%  Symmetrisation:     TWOSIDED
%  SubCategory:        "Pileup"
%  Category:           "Instrumental"

% JVT ---
  
%Systematic:           "jvt"
%  Title:              "JVT"
%  WeightSufUp:        "weight_jvt_up"
%  WeightSufDown:      "weight_jvt_down"
%  Type:               HISTO
%  %Samples:            "ttbar_dilep","zjets"
%  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
%  Symmetrisation:     TWOSIDED
%  SubCategory:        "JVT"
%  Category:           "Instrumental"
