% -- Leptons -- correlated

% Scale and Resolution ---

Systematic:          "MUON_Sagitta";"MUON_Scale";"MUON_ID";"MUON_MS"
  Title:             "Muon sagitta resolution bias";"Muon momentum scale";"Muon momentum resolution (ID)";"Muon momentum resolution (MS)"
  Type:              HISTO
  NtupleFileSufUp:   "__MUON_SAGITTA_RESBIAS__1up";"__MUON_SCALE__1up";"__MUON_ID__1up";"__MUON_MS__1up"
  NtupleFileSufDown: "__MUON_SAGITTA_RESBIAS__1down";"__MUON_SCALE__1down";"__MUON_ID__1down";"__MUON_MS__1down"
  NtupleNameUp:      "MUON_SAGITTA_RESBIAS__1up";"MUON_SCALE__1up";"MUON_ID__1up";"MUON_MS__1up"
  NtupleNameDown:    "MUON_SAGITTA_RESBIAS__1down";"MUON_SCALE__1down";"MUON_ID__1down";"MUON_MS__1down"
  Symmetrisation:    TWOSIDED
  NtuplePathsUp: "/gpfs/atlas/public/ttRes_ntuples_V24/MinNtuples-V24-Syst/"
  NtuplePathsDown: "/gpfs/atlas/public/ttRes_ntuples_V24/MinNtuples-V24-Syst/"  
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Category:          "Instrumental"
  SubCategory:       "Leptons"
  Smoothing:         40  
  
Systematic:          "EG_SCALE_ALL";"EG_RESOLUTION_ALL";"EG_SCALE_AF2"
  Title:             "Electron energy scale";"Electron energy resolution";"Electron energy scale AF2"
  Type:              HISTO
  NtupleFileSufUp:   "__EG_SCALE_ALL__1up";"__EG_RESOLUTION_ALL__1up";"__EG_SCALE_AF2__1up"
  NtupleFileSufDown: "__EG_SCALE_ALL__1down";"__EG_RESOLUTION_ALL__1down";"__EG_SCALE_AF2__1down"
  NtupleNameUp:      "EG_SCALE_ALL__1up";"EG_RESOLUTION_ALL__1up";"EG_SCALE_AF2__1up"
  NtupleNameDown:    "EG_SCALE_ALL__1down";"EG_RESOLUTION_ALL__1down";"EG_SCALE_AF2__1down"
  Symmetrisation:    TWOSIDED
  NtuplePathsUp: "/gpfs/atlas/public/ttRes_ntuples_V24/MinNtuples-V24-Syst/"
  NtuplePathsDown: "/gpfs/atlas/public/ttRes_ntuples_V24/MinNtuples-V24-Syst/"  
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Category:          "Instrumental"
  SubCategory:       "Leptons"
  Smoothing:         40
  
% SFs ---
  
Systematic:           "leptonSF_EL_SF_Trigger" ;"leptonSF_EL_SF_Reco"        ;"leptonSF_EL_SF_ID"          ;"leptonSF_EL_SF_Isol"
  Title:              "Electron trigger SF"    ;"Electron reconstruction SF" ;"Electron identification SF" ;"Electron isolation SF"
  WeightSufUp:        "weight_elTrigger_up"    ;"weight_elReco_up"           ;"weight_elId_up"             ;"weight_elIso_up"
  WeightSufDown:      "weight_elTrigger_down"  ;"weight_elReco_down"         ;"weight_elId_down"           ;"weight_elIso_down"
  Type:               HISTO 
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     TWOSIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"
  
Systematic:           "leptonSF_MU_SF_Trigger_STAT" ;"leptonSF_MU_SF_Trigger_SYST"
  Title:              "Muon trigger SF (stat.)"     ;"Muon trigger SF (syst.)"
  WeightSufUp:        "weight_muTrigger_stat_up"    ;"weight_muTrigger_syst_up"
  WeightSufDown:      "weight_muTrigger_stat_down"  ;"weight_muTrigger_syst_down"
  Type:               HISTO 
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     TWOSIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"

Systematic:           "leptonSF_MU_SF_ID_STAT"         ;"leptonSF_MU_SF_ID_SYST"
  Title:              "Muon identification SF (stat.)" ;"Muon identification SF (syst.)"
  WeightSufUp:        "weight_muId_stat_up"            ;"weight_muId_syst_up"
  WeightSufDown:      "weight_muId_stat_down"          ;"weight_muId_syst_down"
  Type:               HISTO  
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     TWOSIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"

Systematic:           "leptonSF_MU_SF_Isol_STAT"  ;"leptonSF_MU_SF_Isol_SYST"
  Title:              "Muon isolation SF (stat.)" ;"Muon isolation SF (syst.)"
  WeightSufUp:        "weight_muIso_stat_up"      ;"weight_muIso_syst_up"
  WeightSufDown:      "weight_muIso_stat_down"    ;"weight_muIso_syst_down"
  Type:               HISTO 
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     TWOSIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"

Systematic:           "leptonSF_MU_SF_TTVA_STAT" ;"leptonSF_MU_SF_TTVA_SYST"
  Title:              "Muon TTVA SF (stat.)"     ;"Muon TTVA SF (syst.)"
  WeightSufUp:        "weight_muTTVA_stat_up"    ;"weight_muTTVA_syst_up"
  WeightSufDown:      "weight_muTTVA_stat_down"  ;"weight_muTTVA_syst_down"
  Type:               HISTO
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     TWOSIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"  

% Additional (conservative) uncertainty on electron ID SF for electrons close to jets
% - Flat version (default - more conservative)
Systematic:           "leptonSF_EL_eleInJet_flat"
  Title:              "Electron identification SF (close-by-jet)"
  WeightSufUp:        "((!has_1elCloseToJet)*(1.) + (has_1elCloseToJet && !has_2elCloseToJet)*(1.-0.10) + (has_2elCloseToJet)*(1.-0.10)*(1.-0.10))"
%   WeightSufUp:        "((!has_1elCloseToJet)*(1.) + (has_1elCloseToJet && !has_2elCloseToJet)*(1.-0.04) + (has_2elCloseToJet)*(1.-0.04)*(1.-0.04))"
  Type:               HISTO
  %Samples:            "ttbar_dilep","zjets"
  Samples:            "ttbar_dilep","singleTop","zjets","diboson","ttV","ttH"
  Symmetrisation:     ONESIDED
  SubCategory:        "Leptons"
  Category:           "Instrumental"
