MultiFit: ttRes1L2L
  Label: "ZPrimeCombined"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIName: "mu_Zprime"
  POIRange: -5.0:5.0
  DebugLevel: 1
  POITitle: "#mu(Z')"
  POIPrecision: 2
  POILabel: "#mu(Z')"
  POINominal: 0.00
  NumCPU: 1
  PlotCombCorrMatrix: FALSE
  ShowTotalOnly: TRUE
  DataName: "asimovData"
  POIAsimov: 0
  NumCPU: 4

Fit: "singleLep"
  ConfigFile: SINGLELEPCONFIG
  Label: "1l"

Fit: "diLep"
  ConfigFile: DILEPCONFIG
  Label: "2l"

Limit: "tt1lep2lep_limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  ParamName: ZprimeMass
  ParamValue: ZPRIMEMASS
  OutputPrefixName: zprimeZPRIMEMASS
  %POIAsimov: